*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    color: white;
}

div.app{
    position: relative;
    height: 100vh;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 150px;
    grid-template-areas: 'header' 'main' 'footer';
}

div.header, div.main, div.footer, aside, div.info{
    position: relative;
    padding: 10px;
}

div.header{
    grid-area: header;
    background-color: #454545;
}

div.main{   
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 15px;
}

aside, div.content, div.info{
    background-color: #aa6677;
}

div.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;    
 }

 div.info > *{
    padding: 15px;
    background: black;
 }

div.footer{
    grid-area: footer;
    background-color: #bb64bb;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

div.footer > div{
    padding: 15px;    
}

div.footer > div:not(:last-child){
    border-right: 1px solid black;
}

