*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    color: white;
    text-align: center;
}

div.app{
    position: relative;
    height: 100vh;
    background-color: #222831;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 1fr 150px;
    grid-template-areas: "header header" 
                        "nav main" 
                        "nav footer";
}

header, footer, aside, div.content, div.info{
    position: relative;
    padding: 10px;
}

nav{
    grid-area: nav;
    background: #14906a;
}

header{
    grid-area: header;
    background-color: #14906a;
}

main{   
    grid-area: main;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

aside, div.content, div.info{
    background-color: #187159;
}

div.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;    
 }

 div.info > *{
    padding: 15px;
    background: black;
 }

footer{
    grid-area: footer;
    background-color: #0a3442;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

footer > div{
    padding: 15px;    
}

footer > div:not(:last-child){
    border-right: 1px solid black;
}

