/*
    POWERED BY: wagnerricardonet@gmail.com, https://github.com/wagnerww
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    color: #ffffff;
    text-align: center;
}

div.app{
    position: relative;
    height: 100vh;
    background-color: #222831;
    display: grid;
    grid-template-columns: 175px 1fr; /*2 colunas*/
    grid-template-rows: 100px 1fr 150px; /*3 linhas no máxino*/
    grid-template-areas: "header header" /*linha 1, 2 col*/
                        "nav main"       /*linha 2, 2 col*/
                        "nav footer";    /*linha 3, 2 col*/
}

/* GERAL */
header, footer, aside, div.content, div.info{
    position: relative;
    padding: 10px;
}

span{
    position: absolute;
    top:50%;
}

/* CABEÇALHO */
header{
    grid-area: header;
    background-color: #14906a;
}

/* MENU */
nav{
    grid-area: nav;
    background: #187159;
    border-right: 1px solid black;
    margin-right: 15px;
}

/* CORPO */
main{   
    grid-area: main;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

aside, div.content, div.info{
    background-color: #187159;
}

div.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;    
 }

 div.info > *{
    position: relative;
    padding: 15px;
    background: black;
 }

 /* RODAPÉ */
footer{
    grid-area: footer;
    background-color: #0a3442;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

footer > div{
    position: relative;
    padding: 15px;    
}

footer > div:not(:last-child){
    border-right: 1px solid black;
}
